.landing-personas {
    //background-color: #F5FAFF;
}
.landing-personas__body {
    @include breakpoint('medium') {
        margin: 0 auto;
        padding: 0;
       
        padding: 0;
    }
}
.landing-personas__item {
        text-align: left;
        margin-bottom: 80px;
        img {
            width: 72px;
            height: 72px;
            margin-bottom: 20px;
            margin-right: 20px; 
        }
    @include breakpoint('medium') {
        text-align: left;
        img {
            width: 42px;
            height: 42px;
            margin-bottom: 15px;
            margin-right: 20px; 
        }
    }
}
.landing-personas__title {
    font-weight: 600;
    margin-bottom: 10px;
    color: $complementary;
    font-size: 20px;
}
.landing-personas__description {
    font-weight: 400;
    color: #365C84;
    font-size: 16px;
}
.landing-personas__button {
    width: 180px;
    display: block;
    text-align: center;
    outline:none;
    text-decoration: none;
    font-size: 14px;
    border-radius:50px;
    padding: 12px 20px;
    color: $primary;
    border: 1px solid $primary;
    margin: 0.75rem 0.5rem;
    transition: transform 0.25s ease;
    &:hover { 
        transform: scale(1.1); 
    }
}