.landing-why {
    padding: 80px 0px;
}
.landing-why__body {
    padding: 20px 0;
    @include breakpoint('medium') {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 100px;
        padding: 100px 0;
    }
}
.landing-why__head { 
    width: 100%;
    text-align:left;
    margin:10px auto 20px;
    h4 { 
        color: #353329;
        font-size: 28px;
        letter-spacing: -.9px;
        margin-bottom: 16px;
    }
    h5 {
        color: rgba(3,27,78,.5);
        font-size: 16px;
        font-weight: 400;
    }
    @include breakpoint('medium') {
        h4 { 
            font-size: 36px;
        }
        h5 {
            font-size: 20px;
        }
        width:70%;
        text-align:center;
    }
}
// landing-showcase Features
.landing-why-item {
    z-index: 17;
    margin-bottom: 50px;
    @include breakpoint('medium') {
        margin-bottom: 0px;
    }
}
.landing-why-item:last-child {
    margin-bottom: 0px;
}
.landing-why-item__img {
    width: 64px;
    height: 64px;
    margin-bottom: 15px;
}
.landing-why-item__copy {
}
.landing-why-item__title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
    color: #353329;
}
.landing-why-item__description {
    font-weight: 400;
    color: #A9ABAC;
    opacity: 0.7;
    font-size: 16px;
}