.landing-faq {
    padding: 80px 30px;
    overflow-x: hidden;
    color: #001c3e;
    font-size: 16px;
    @include desktop() {
        padding: 80px 0px;
    }
}
.landing-faq__body {
    @include breakpoint('medium') {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}
.landing-faq__left {
    width:100%; 
    text-align:left;
    margin:10px auto 30px;
    h5 {
        font-size: 28px;
        color: $primary;
    }
    h6 {
        font-size: 28px;
    }
    @include breakpoint('medium') {
        margin:10px auto 20px;
        h5 { 
            font-size: 28px;
            margin: 0;
        }
        h6 {
            font-size: 28px;
        }
    }
}
.landing-faq__item {

}
.landing-faq__question {
    border-bottom: 1px solid #BCBCBC;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    padding: 20px 40px 20px 0px;
    svg {
        margin-right: 5px;
        width: 18px;
        height: 18px;
        position: absolute;
        right: 0;
        top: 25px;
        stroke: $primary;
        stroke-linecap: round;
        stroke-width: 2px;
    }
    @include breakpoint('medium') {
        padding-left: 30px;
        font-size: 18px;
        svg {
            width: 16px;
           height: 16px;
        }
    }

}
.landing-faq__answer {
    padding: 25px;
    font-weight: 200;
}
slide-leave-active,
.slide-enter-active {
  transition: 1s;
}
.slide-enter {
  transform: translate(100%, 0);
}
.slide-leave-to {
  transform: translate(-100%, 0);
}
.landing-faq__link {
    margin-top: 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 14px;
    height: 3em;
    justify-content: flex-start;
    line-height: 1.5;
    position: relative;
    vertical-align: top;
    text-decoration: none;
    padding: 20px 30px;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    color: #fff !important;
    background: $primary;
    &:hover { 
        background-color: rgb(58, 96, 179) !important;
    }
}