.landing-ledgend {
    padding: 60px 30px;
    background-color: #002549;
    position: relative;
    @include desktop() {
        padding: 60px 0px;
    }
}
.landing-ledgend__body {
    @include breakpoint('medium') {
        display: grid;
        grid-template-columns: 27.5% 45% 27.5%;
        align-items: center;
    }
}
.landing-ledgend__video {
    justify-content: start;
    @include breakpoint('medium') {
    }
}
.landing-ledgend__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include breakpoint('medium') {
        align-items: stretch;
    }
}
.landing-ledgend__title {
        font-weight: 600;
        margin-bottom: 10px;
        color: black;
        font-size: 28px;
        text-align: center; 
    @include breakpoint('medium') {
        margin-top: 0px; 
        font-size: 30px;
        margin-bottom: 10px;
    }
}
.landing-ledgend__description {
    font-size: 14px;
    font-weight: 400;
    color: #9CDBFF;
    margin-top: 20px;
    @include breakpoint('medium') {
        font-size: 16px;
    }
}
.landing-ledgend__link:before {
    display: block;
    position: absolute;
    content: '';
    background-color: rgba(70, 143, 223, 0.5);
    top: 0;
    bottom: 0;
    left: -50%;
    width: 2px;
}
.landing-ledgend__link {
    height: 80px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: $complementary;
    margin-left:auto;
    cursor: pointer;
    position: relative;
    @include breakpoint('medium') {
        font-size: 24px;
    }
}