// Breakpoints
$tablet: 768
$desktop: 1024
$widescreen: 1216
$fullhd: 1408

// Breakpoints Mixins
=mobile
    @media (max-width: #{$tablet}px)
        @content

=tablet
    @media (min-width: #{$tablet + 1}px) and (max-width: #{$desktop - 1}px)
        @content

=desktop
    @media (min-width: #{$desktop}px) and (max-width: #{$widescreen - 1}px)
        @content

=widescreen
    @media (min-width: #{$widescreen}px) and (max-width: #{$fullhd - 1}px)
        @content

=fullhd
    @media (min-width: #{$fullhd}px)
        @content