.landing-mammothToken {
    padding: 80px 30px;
    @include desktop() {
        padding: 80px 0px;
    }
}
.landing-mammothToken__body {
    border-radius: 10px;
    color: black;
    @include breakpoint('medium') {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}
.landing-mammothToken-info {
    h5 {
        text-align: center;
        padding: 30px 0px;
        font-size: 20px;
        font-weight: 300;
        background-color: #002549;
        color: white;
    }
    margin-top: 60px;
    box-shadow: 0 0px 30px rgba(6, 31, 87, 0.1);
    width: 100%;
    background-color:rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 17;
    @include desktop() {
        border: none;
        box-shadow: 0 10px 30px rgba(6, 31, 87, 0.2);
        margin: 0 auto;
        h5 {
            padding: 40px 0px;
            font-size: 24px;
        }
    }
}
.landing-mammothToken-info__full-box-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: white;
    text-align: center;
    padding: 25px 0px;
}
.landing-mammothToken-info__full-box-group:nth-child(odd) {
    background: #f6f9fc;
}
.landing-mammothToken-info__full-box {
    background-color: white;
    text-align: center;
    padding: 25px 0px;
}
.landing-mammothToken-info__full-box:nth-child(odd) {
    background: #f6f9fc;
}
.landing-mammothToken-info__name {
    font-weight: 300;
    font-size: 14px;

}
.landing-mammothToken-info__value {
    font-weight: 500;
    font-size: 16px;
    @include breakpoint('medium') {
        font-size: 20px;
    }

}
/*.landing-mammothToken-info {
    @include breakpoint('medium') {
        border-radius: 5px;
    }

}*/
.landing-mammothToken-info__body {
    padding: 0px 0px 10px 0px;
    @include breakpoint('medium') {
        padding: 40px;
    }
    table {
        width: 100%;
        td {
            padding-bottom: 12px;
            white-space: nowrap;
            vertical-align: top;
        }
    }
}
.landing-mammothToken-info__item {
    font-size: 16px;
    font-weight: 200;
    margin:0;
    padding: 0;
    @include breakpoint('medium') {
        font-size: 18px;
        padding: 0;
    }
}
.landing-mammothToken-info__title {
    color: inherit;
    text-align: left;
    font-weight: 400;
    display: inline-block;
    padding-right: 5px;
    position: relative;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}
.landing-mammothToken-info__cutter {
    width: 100%;
    display: inline-block;
    overflow: hidden;
}
.landing-mammothToken-info__dotted {
    display: inline-block;
    padding-right: 5px;
    position: relative;
}
.landing-mammothToken-info__dotted::after {
    content: '';
    position: absolute;
    left: 100%;
    bottom: 0.3em;
    height: 1px;
    width: 1000%;
    border-bottom: 2px dotted;
}
.landing-mammothToken-dates {
    padding: 30px 0;
    @include breakpoint('medium') {
        padding: 40px;
        display: flex;
        justify-content: center;
    }
} 
.landing-mammothToken-dates__body {
}
.landing-mammothToken-dates__item {
    margin-bottom: 25px;
}
.landing-mammothToken-dates__title {
    font-size: 18px;
    color: inherit;
    font-weight: 400;
    @include breakpoint('medium') {
        font-size: 18px;
    }
}
.landing-mammothToken-dates__date {
    font-size: 28px;
    color: #48A8FF;
    font-weight: 400;
    margin-top: 10px;
    @include breakpoint('medium') {
        font-size: 36px;
    }
}