.intro {

    &-columns {
        display: flex;
        justify-content: center;
        padding: 0rem 0.75rem;
        @include mobile() {
            display: block;
            padding: 0;
        }
    }
    &-column {
        width: calc(50% - 3rem);
        &.is-content {
            margin-right: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .buttons {
                margin-top: 30px;
                margin-left: 10px;
            }
        }
        &.is-video {
            margin-left: 3rem;
        }
        @include mobile() {
            width: 100%;
            &.is-content {
                margin-right: 0;
                .buttons {
                    margin-bottom: 30px;
                }
            }
            &.is-video {
                margin-left: 0;
            }
           
        }
    }

    &-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 640px;
    }
    &-body {
        padding-top: 100px !important;
        @include mobile() {
            min-height: 100vh;
            padding-bottom: 0 !important;
        }
    }

    &-video {
        background-color: #fff;
        margin-left: auto;
        margin-right: auto;
        max-width: 640px;
        position: relative;
        box-shadow: 0 1.5rem 3rem rgba(0,0,0,.5);
    }

    &-shadow {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #776e70;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0 1.5rem 3rem rgba(0,0,0,.2);
        -webkit-animation-name: introShadow;
        animation-name: introShadow;
    }
    &-spinner {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        -webkit-animation-name: introSpinner;
        animation-name: introSpinner;
    }

    &-iframe {
        opacity: 1;
        padding-top: 56.25%;
        position: relative;
        transition-duration: .5s;
        transition-property: opacity;
        box-shadow: 0 1.5rem 3rem rgba(0,0,0,.2);
        iframe {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    &-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 9999;
    }
    &-notification {
        width: 52%;
        padding: 10px  10px 10px 4.75rem;
        margin: 30px 0px 60px;
        font-size: 14px;
        font-weight: 400;
        position: relative;
        background-color: $white-bis;
        border-radius: 5px;
        box-sizing: border-box;
        span {
            margin-right: 5px;
            width: 50px;
            height: 24px;
            border-radius: 5px;
            font-size: 12px;
            font-weight: 500;
            color: white;
            text-align: center;
            line-height: 2;
            position: absolute;
            left: 0.75rem;
            top: 10px;
            background-color: $primary;
        }
        @include mobile() {
            width: 100%;
            margin: 0px 0px 20px;
            padding: 10px 5px 10px 4.5rem;
        }
    }
    &-partners {
        display: flex;
        width: 80%;
        margin: 0px auto;
        z-index: 25;
        @include mobile() {
            margin: 30px auto;
        }
    }
}

// landing-showcase section
.landing-showcase {
    z-index: 18;
    position: relative;
    width: 100%;
    //background-color: $primary;
    @include breakpoint('medium') {
        min-height: 100vh;
        overflow: hidden;
    }
    @include breakpoint('xl') {
        min-height: auto;
    }
}
.landing-showcase__particles {
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.landing-showcase__body {
}
.landing-showcase__head {
    flex-shrink: 0;
    flex-grow: 0;
    z-index: 18;
}
.landing-showcase__content {
    z-index: 18;
    position: relative;
    //padding: 120px 0px;
    @include breakpoint('medium') {
        /*display: grid; 
        grid-template-columns: repeat(2, 1fr);
        align-items: center;*/
        padding: 0px 0px;
    }
    @include breakpoint('xl') {
        //margin-top: 150px;
    }
}
.landing-showcase-tagline {
    z-index: 18;
    padding: 0 30px;
    margin: 100px 0px 30px;
    @include desktop() {
        padding: 0 0px;
        margin: 150px 0px 50px;
    }
    @include breakpoint('xl') {
        margin: 150px 0px 60px;
    }
}
.landing-showcase-tagline__title {
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    color: #002549;
    margin-bottom: 10px;
    @include breakpoint('medium') {
        text-align: center;
        margin: 0 auto;
        font-size: $size-3;
        font-weight: 700;
        width: 70%;
        margin-bottom: 16px !important;
    }
}
.landing-showcase-tagline__description {
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    opacity: .75;
    color: #002549;
    @include breakpoint('medium') {
        margin: 0 auto;
        text-align: center;
        font-size: $size-5;
        width: 50%;
    }
}

// landing-showcase Action
/*.landing-showcase-action {
    margin-top: 60px;
    width: 100%;
    border-radius: 10px;
    background-color:rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(6, 31, 87, 0.2);
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 17;
    @include breakpoint('medium') {
        margin-top: 0px;
        width: 500px;
        margin-left: auto;
    }
}*/
.landing-showcase-action__message {
    padding: 15px 20px;
    //background-color: $complementary-60;
    color: #333;
    font-size: 16px;
    width: 80%;
    text-align: center;
    margin: 50px auto 20px;
}
.landing-showcase-action {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 18;
    //background-color: $secondary;
    padding: 20px 0px;
    @include desktop() {
        padding: 30px 0px;
        width: 75%;
        margin-left: auto;
    }
}
.landing-showcase-action__head {
    z-index: 19;
    width:100%; 
    text-align:center;
    h5 { 
        color: $secondary;
        font-weight: 700;
    }
    h6 { 
        color: $secondary;
        font-size: 12px;
        font-weight: 300;
    }
    @include breakpoint('medium') {
        
    }
}
.landing-showcase-action__body {
    z-index: 19;
    padding: 0px 0px;
    @include breakpoint('medium') {
    }
}
.landing-showcase-action__form {
    z-index: 19;
    margin: 30px 0px 20px;
    @include breakpoint('medium') {
        margin: 30px 0px 20px;
    }
}
.landing-showcase-action__form {
    width: 100%;
    margin: 15px auto 10px;
    position: relative;
    box-sizing: border-box;
    @include breakpoint('medium') {
        display: flex;
    }
    input {
        box-shadow: none;
        width: 100%;
        padding: 15px 20px;
        border-radius: 5px;
        -webkit-outline: none;
        box-sizing: border-box;
        outline: none;
        border: 1px solid #f1f1f1;
        font-size: 14px;
        @include breakpoint('medium') {
            margin-right: 20px; 
            margin-bottom: 0px;
            padding: 20px 20px;
        }
    }
    button {
        background: $gradient;
        color: white;
        margin-top: 10px;
        padding: 15px 20px;
        font-size: 14px;
        font-weight: 600;
        -moz-appearance: none;
        -webkit-appearance: none;
        align-items: center;
        border: none;
        border-radius: 5px;
        width: 100%;
        height: auto;
        box-shadow: none;
        line-height: 1.5;
        position: relative;
        vertical-align: top;
        cursor: pointer;
        justify-content: center;
        text-align: center;
        white-space: nowrap;
        &:hover { 
            background: $primary;
            color: white;
        }
        @include breakpoint('medium') {
            border-radius: 0px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            margin-top: 0px;
            padding: 15px 20px;
            width: auto;
            position: absolute;
            right: 0px;
            top: 0;
            bottom: 0;
        }
    }
}
.landing-showcase-action__copy {
    z-index: 19;
    font-size: 12px;
    font-weight: 300;
    padding-left: 20px;
    span {
        font-weight: 500;
    }
    @include breakpoint('medium') {
        font-size: 12px;
    }
}
.landing-showcase-progress {
    margin-top: 60px;
    width: 100%;
    border-radius: 10px;
    background-color:rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(6, 31, 87, 0.2);
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 17;
    @include breakpoint('medium') {
        margin-top: 0px;
        width: 400px;
        margin-left: auto;
    }
}
.landing-showcase-progress__body {
    padding: 30px;
    @include breakpoint('medium') {
        padding: 30px;
    }
}
.landing-showcase-progress__head {
    color: black;
    font-size: 24px;
    letter-spacing: -1px;
    text-align: center!important;
    font-weight: 600;
    line-height: 1.25;
    @include breakpoint('medium') {
        font-size: 30px;
    }
}
.landing-showcase-progress__bonus {
    width: 100%;
    display: block;
    text-align: left;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 0px;
    transition: transform 0.25s ease;
    line-height: 2;
    color: #48A8FF;
    font-weight: 400;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    @include breakpoint('medium') {
        font-size: 16px;
    }
}
.landing-showcase-progress__title {
    color: black;
    text-align: left;
}
.landing-showcase-progress-loader {
    width: 100%;
    position: relative;
}
.landing-showcase-progress-loader__bar {
    margin-top: 8px;
    position: relative;
    background-color: rgba(0, 33, 64, 0.1);
    padding: 20px 0;
    border-radius: 5px;
    width: 100%;
}
.landing-showcase-progress-loader__success {
    position: absolute;
    //background-color: rgba(45, 138, 223, 1);
    background-color: #00CC66;
    padding: 15px 5px;
    border-radius: 5px;
    top: 5px;
    left: 7px;
}
.landing-showcase-progress-loader__value {
    position: absolute;
    color: #fff;
    padding: 10px 0;
    top: 2.5px;
    right: 7px;

}
.landing-showcase-progress-loader__private {
    position: absolute;
    color: #fff;
    padding: 10px 0;
    top: 10px;
    left: 15px;
    font-size: 12px;
    line-height: 0;
    @include breakpoint('medium') {
        font-size: 14px;
        left: 20px;
    }

}
.landing-showcase-progress-info {
    display: flex;
    width: 100%;
    margin-top: 5px;
}
.landing-showcase-progress-info__start {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.landing-showcase-progress-info__end {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: auto;
}
.landing-showcase-progress-info__number {
    color: #002140;
    font-size: 14px;
    @include breakpoint('medium') {
        font-size: 16px;
    }
}
.landing-showcase-progress-info__name {
    color: #002140;
    font-size: 14px;
}
.landing-showcase-progress-cta {
    margin-top: 20px;
    width: 100%;
    @include breakpoint('medium') {
        width: auto;
        align-items: center;

    }

}
.landing-showcase-progress-cta__currency {
    color: black;
    display: block;
    text-align: center;
    outline: none;
    text-decoration: none;
    font-size: 16px;
    border-top: 1.5px dashed rgba(225, 225, 225, 0.5);
    border-bottom: 1.5px dashed rgba(225, 225, 225, 0.5);
    padding: 8px;
    line-height: 1.5;
    background-color: transparent;
    margin-bottom: 20px;
    @include breakpoint('medium') {
        padding: 8px 18px;
        font-size: 18px;
    }
}
@keyframes shine {
    0% {
        background-repeat: no-repeat;
        background-image: linear-gradient(to left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.7) 51%, rgba(255,255,255,0.1) 52%, rgba(255,255,255,0) 53%, rgba(255,255,255,0) 100%);
        background-position: -250px -250px;
        background-size: 700px 700px;
    }
    100% {
        background-repeat: no-repeat;
        background-position: 250px 250px;
    }
}
.landing-showcase-progress-cta__button {
    width: 100%;
    display: block;
    text-align: center;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px 30px;
    font-weight: 600;
    line-height: 1.5;
    background-color: $complementary;
    height: auto;
    color: #fff;
    animation-name: shine;
    animation-duration: 4s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.12, 0.89, 0.98, 0.47);
    transition: transform 0.25s ease;
    cursor: pointer;
    &:hover { 
        transform: scale(1.05); 
        opacity: 1;
    }
    @include breakpoint('medium') {
        padding: 15px 30px;
        font-size: 16px;
    }
}