.landing-about {
    background-color: #F9F9F9;
    color: #B7D2E2;
    padding: 80px 0px;
    @include breakpoint('medium') {
        padding: 80px 0px;
    }

}
.landing-about-video {
    padding: 40px 0px;
}
.landing-about-video__body {
    @include breakpoint('medium') {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 80px;
    }
}
.landing-about-video__title {
    color: #353329;
    text-align: left;
    font-size: 28px;
    letter-spacing: -.9px;
    margin-bottom: 16px;
    @include breakpoint('medium') {
        font-size: 36px;
    }
}
.landing-about-video__subtitle {
    color: rgba(3,27,78,.5);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 50px;
    @include breakpoint('medium') {
        font-size: 20px;
        margin-bottom: 0px;
    }
}