.landing-mission {
    padding: 20px 0px;
    text-align: left;
    @include breakpoint('medium') {
        text-align: left;
    }
}
.landing-mission__title {
    color: #365C84;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 700;
    @include breakpoint('medium') {
    }
}
.landing-mission__description {
    font-weight: 400;
    font-size: 18px;
    text-align: left;
    color: #365C84;
}