.landing-tokenomics {
    background-color: $complementary;
    padding: 80px 0px;
}
.landing-tokenomics__body {
    border-radius: 10px;
    box-shadow: 0px 0px 50px rgba(0, 0,0, 0.1);
    color: #fff;;
    padding: 40px 20px;
    @include breakpoint('medium') {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 980px;
        margin: 0 auto;
        padding: 40px;
    }
}
.landing-tokenomics__head {
    color: #fff;
    margin-bottom: 80px; 
    background-color: #fff;
    height: 50%;
}
.landing-tokenomics__charts {
    padding: 0 30px;
    //background-color: $primary;
    //box-shadow: 0px 0px 50px rgba(0, 0,0, 0.1);
    color: black;
    @include desktop() {
        padding: 0;
        margin: 50px 0px;
        color: black;
        box-shadow: 0 10px 30px rgba(6, 31, 87, 0.2);
    }
}
.landing-tokenomics-charts {
    padding: 50px 0px;
    @include breakpoint('medium') {
        //box-shadow: 0 10px 30px rgba(6, 31, 87, 0.2);
    }
}
.landing-tokenomics-charts:first-child {
    @include desktop() {
        border-bottom: 2px solid #f8f8f8;
    }
}
.landing-tokenomics-charts__title {
    font-weight: 500;
    font-size: 20px;
    color: inherit;
    padding: 0 0 0px;
    text-align: center;
}
.landing-tokenomics-charts__description {
    font-weight: 300;
    font-size: 16px;
    color: inherit;
    text-align: center;
}
.landing-tokenomics-charts__body {
    margin-top: 50px;
    @include breakpoint('medium') {
        grid-template-columns: 50% 50%;
        display: grid;
        align-items: center;
        justify-content: center;
    }
    color: inherit;
}
.landing-tokenomics-charts__legends {
    margin: 30px auto 0px;
    max-width: 400px;
    @include breakpoint('medium') {
        margin-top: 0px;
    }
}
.landing-tokenomics-chart-legends {
    font-size: 16px;
    font-weight: 400;
    position: relative;
    padding-left: 25px;
    margin-bottom: 15px;
    span {
        margin-right: 5px;
        width: 16px;
        height: 16px;
        position: absolute;
        left: 0;
        top: 5px;
    }
}
.landing-tokenomics-chart-legends__color {
    width: 8px;
    height: 8px;
    display: block;
}
.landing-tokenomics-chart-legends__title {
    font-weight: 400;
    font-size: 16px;
    margin-left: 10px;
}
.landing-tokenomics-chart-legends__percentage {
    color: $primary;
    font-weight: 400;
    font-size: 16px;
}