.landing-roadmap {
    padding: 80px 30px;
    overflow-x: hidden;
    color: black;
    font-size: 16px;
    background-color: #F6F9FC;
    @include desktop() {
        padding: 80px 0px;
    }
}
.landing-roadmap-year {
    font-size: 28px;
    font-weight: 500;
    color: rgb(74, 87, 100);
}
.landing-roadmap__content {

}
/*.landing-roadmap__content {
    margin-top: 80px;
    @include breakpoint('medium') {
        max-width: 1148px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        min-height: 600px;
        background: url('~/assets/images/roadmap1.png') no-repeat center 58px;
        background-size: 1140px 649px;
        font-size: 14px;
    }
}*/
/*.landing-roadmap__box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 0px;
    margin-left: 15px;
    margin-right: 15px;
}*/
.landing-roadmap--square {
    width: 8px;
    height: 8px;
    display: block;
}
.landing-roadmap--circle {
    border-radius: 50%; 
    width: 8px;
    height: 8px;
    display: block;
}
.landing-roadmap__legends {
    @include breakpoint('medium') {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        max-width: 400px;
        margin: 0 auto;
    }
}
.landing-roadmap-list-type {
    display: flex;
    margin-right: 20px;
    align-items: center;
    span {
        margin-right: 14px;
    }
}
.landing-roadmap-list-type:last-child {
    margin-right: 0px;
}
.landing-roadmap-group__box {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px 40px;
}
.landing-roadmap-group {
    margin-right: 20px;
    @include breakpoint('medium') {
        margin-right: 0px;
    }
}
.landing-roadmap-item {
    margin-top: 60px;
    max-width: 100%;
    border-radius: 2.5px;
    background-color: white;
    box-shadow: 0 0px 5px rgba(6, 31, 87, 0.05);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 17;
    padding: 15px;
    @include breakpoint('medium') {
        margin-top: 0px;
        max-width: 400px;
        margin-right: 50px;
        margin-bottom: 50px;
    }
}
.is-completed {
    background-color:white;
}
/*.landing-roadmap-item {
    position: relative;
    color: inherit;
    padding-left: 40px;
    @include breakpoint('medium') {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 282px;
    }
}*/
.landing-roadmap-item__title {
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 0;
    text-align: left;
    color: #42486e;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.landing-roadmap-item__list {
}
.landing-roadmap-legend {
    font-size: 16px;
    font-weight: 400;
    position: relative;
    padding-left: 25px;
    margin-bottom: 15px;
    span {
        margin-right: 5px;
        width: 8px;
        height: 8px;
        position: absolute;
        left: 0;
        top: 8px;
    }
}
.landing-roadmap-legend:last-child {
}
.landing-roadmap-milestone:last-child {
    margin-right: 0px;
}
.landing-roadmap__milestone {
    padding-left: 20px;
    margin: 10px 30px;
    font-size: 14px;
    font-weight: 200;
    position: relative;
    span {
        margin-right: 5px;
        width: 6px;
        height: 6px;
        position: absolute;
        left: 0;
        top: 8px;
    }
}
.landing-roadmap-milestone:last-child {
    margin-right: 0px;
}
.landing-roadmap__milestone:nth-child(odd) {
    //background: #f6f9fc;
}