
.article {
    display: flex;
    padding: 5% 10%;
}
.article__content {
    padding:30px 0px;
    @include desktop() {
        padding: 40px 0;
    }
}
.article__details {
    padding: 20px 30px;
    border-bottom: 1px solid lightgrey;
    @include desktop() {
        padding: 20px 0px;
    }
}
.article__head {
    padding-bottom: 10px; 
    border-bottom: 1px solid lightgrey;
}
.article__title {
    font-size: 36px;
    margin-bottom: 20px;
}
.article__image {
    width: 100%;
}
.article__published {
    font-size: 13px;
    color: gray;
}
.article__body {
    margin: 5% 0px;
    img {
        width: 100%;
        text-align: center;
    }
}
.blog__heading {
    font-size: 36px;
    padding-bottom: 60px;
    text-align: center;
}
.blog {
    padding: 80px 0;
    @include desktop() {
        padding: 80px 0;
    }
}
.post {
    padding: 80px 30px;
    @include desktop() {
        padding: 80px 0px;
    }
}
.blog__posts {
    padding: 0px 30px;
    @include desktop() {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
    }
}
.blog__post {
    margin-bottom: 30px;
    -webkit-box-shadow: 0 0px 10px 0 rgba(0,0,0,0.05);
    box-shadow: 0 8px 24px 0 rgba(0,0,0,.05);
    border-radius: 8px;
    a {
        text-decoration: none;
    }
    @include desktop() {
        margin-bottom: 0px;
    }
}
.blog__title {
    font-weight: 600;
    color: $primary;
    font-size: 16px;
    margin-bottom: 30px;
}
.blog__image {
    display: block;
    max-width: 100%;
}
.blog__copy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 1.875rem;
}
.blog__published {
    font-size: 13px;
    color: gray;
}