.buy-token {
    position: relative;
    padding: 80px 0px;
}
.buy-token__head {
    padding: 0 30px;
    margin-bottom: 40px;
    @include desktop() {
        padding: 0;
    }
}
.buy-token__message {
    max-width: 645px;
    margin: 0 auto 40px;
    box-sizing: border-box;
}
.buy-token-form {
    border-radius: 4px;
    -webkit-box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
    box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
    max-width: 645px;
    background: #fff;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 30px;
    clear: both;
}