.is-pulled-left {
  float: left !important;
}
.is-pulled-right {
  float: right !important;
}
$alignments: ('centered': 'center', 'justified': 'justify', 'left': 'left', 'right': 'right');

@each $alignment, $text-align in $alignments {
    .has-text-#{$alignment} {
        text-align: #{$text-align} !important;
    }
}
@each $alignment, $text-align in $alignments {
    @include mobile() {
        .has-text-#{$alignment}-mobile {
            text-align: #{$text-align} !important;
        }
      }
      
      @include tablet() {
        .has-text-#{$alignment}-tablet {
            text-align: #{$text-align} !important;
        }
      }
      
      @include tablet-only() {
        .has-text-#{$alignment}-tablet-only {
          display: none !important;
        }
      }
      
      @include touch() {
        .has-text-#{$alignment}-touch {
          text-align: #{$text-align} !important;
        }
      }
      
      @include desktop() {
        .has-text-#{$alignment}-desktop {
          text-align: #{$text-align} !important;
        }
      }
      
      @include desktop-only() {
        .has-text-#{$alignment}-desktop-only {
          text-align: #{$text-align} !important;
        }
      }
      
      @include widescreen() {
        .has-text-#{$alignment}-widescreen {
          text-align: #{$text-align} !important;
        }
      }
      
      @include widescreen-only() {
        .has-text-#{$alignment}-widescreen-only {
          text-align: #{$text-align} !important;
        }
      }
      
      @include fullhd() {
        .has-text-#{$alignment}-fullhd {
          text-align: #{$text-align} !important;
        }
      }
}

@include mobile() {
  .is-hidden-mobile {
    display: none !important;
  }
}

@include tablet() {
  .is-hidden-tablet {
    display: none !important;
  }
}

@include tablet-only() {
  .is-hidden-tablet-only {
    display: none !important;
  }
}

@include touch() {
  .is-hidden-touch {
    display: none !important;
  }
}

@include desktop() {
  .is-hidden-desktop {
    display: none !important;
  }
}

@include desktop-only() {
  .is-hidden-desktop-only {
    display: none !important;
  }
}

@include widescreen() {
  .is-hidden-widescreen {
    display: none !important;
  }
}

@include widescreen-only() {
  .is-hidden-widescreen-only {
    display: none !important;
  }
}

@include fullhd() {
  .is-hidden-fullhd {
    display: none !important;
  }
}